<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text=center>Produtor Rural</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-button expand="full" (click)="createDB()"> Criar Banco de Dados</ion-button> -->
<ion-content>
<ion-card>
  <ion-input hidden [(ngModel)]="id"></ion-input>

  <ion-item>
       <ion-label position="floating">Nome</ion-label>
       <ion-input [(ngModel)]="nomeProdutor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">CPF</ion-label>
    <ion-input [(ngModel)]="cpf"></ion-input>
</ion-item>
</ion-card>
<ion-card>
  <ion-button expand="full" (click)="save()"> Salvar </ion-button>
<ion-button expand="full" (click)="clearfields()"> Limpar </ion-button>
</ion-card>
<ion-list>  
   <ion-card-header>
     <ion-card-title> Listagem </ion-card-title>
   </ion-card-header>
   <ion-card>   
    <ion-item-sliding *ngFor="let item of produtores">
      <ion-item>
          <ion-label text-wrap>
              <h3> Produtor : {{item.id}}-{{ item.nomeProdutor }}</h3>
                <ion-text color="secondary">
                  <p> CPF : {{ item.cpf }}</p>
                </ion-text>
          </ion-label>
      </ion-item>    
      <ion-item-options side="end">
           <ion-item-option color="secondary" (click)="update(item)">Alterar</ion-item-option>
           <ion-item-option color="danger" (click)="delete(item)">Excluir</ion-item-option>         
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>
</ion-list>
<p>
    id: {{ objProdutor?.id }}
</p>
</ion-content>
