<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text=center>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card-title color="danger">Seja bem-vindo</ion-card-title>
       <ion-card-subtitle>iPec - Manejo Pecuario</ion-card-subtitle>
        <ion-card-content color="light">
        <ion-text color="light">
          <h1>O aplicativo móvel iPec trás uma simplicidade na forma de coleta de informações de trabalho de gado. As informações são armazenadas no dispositivo e gera para o produtor rural informações compiladas dos trabalhos realizados.</h1>
        </ion-text>
        
        </ion-card-content>
</ion-content>  
   