<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text=center>Tipo de Manejo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-item>
         <ion-label position="fixed">Nome do Manejo  : </ion-label>
         <ion-input [(ngModel)]="nome"></ion-input>
    </ion-item>
  
  
  <ion-button expand="full" (click)="add()"> Salvar </ion-button>
  
  <ion-list>
  
      <ion-list-header>
          <ion-label> 
               Listagem
          </ion-label>
      </ion-list-header>
    
      <ion-item-sliding *ngFor="let item of row_data">
        <ion-item>
            <ion-label text-wrap>
                <h3> Nome do Manejo : {{ item.nome }}</h3>
            </ion-label>
        </ion-item>    
        <ion-item-options side="end">
             <ion-item-option color="secondary" (click)="update(item)">Alterar</ion-item-option>
             <ion-item-option color="danger" (click)="delete(item)">Excluir</ion-item-option>         
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
  </ion-content>
  